body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    overflow-y: hidden;
    
}
.outer-box{
    background-color: rgb(218, 197, 197);
    height: 80vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.inner-box{
    background-color: rgb(31, 11, 214);
    border: 1px solid rgb(250, 250, 250);
    margin: 5px;
    height: 90%;
    width: 90%;
    border-radius: 5px;
}
.input-area{
    display: flex;
    justify-content: center;
    height: 10%;
    margin-top: 5px;
    border-radius: 5px;
}
.input-area input[type="text"]{
    width: 96%;
    border-radius: 10px;
}
.button-area{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 80%;
    width: 90%;
    margin: 5%;
}
.button-area .ob1{
    outline: 1px solid white;
    font-size: 1.2em;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f95959;
    cursor: pointer;
}
.button-area .dot{
    transform: translateX(60%);
}
.button-area .ob1:hover{
    background-color: rgb(153, 153, 60);
    outline: 1px solid black;
}
.button-area .ob:hover{
    background-color: #455d7a;
}
.button-area .clear:hover{
    background-color: rgb(113, 243, 230);
}
.button-area .equal:hover{
    background-color: rgb(134, 226, 43);
}
button{
    transform: translateX(15vw);
    height: 120px;
    width: 120px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
@media screen and (max-width: 1400){
    .outer-box{
        transform: scaleY(20px);
    }    
}